autostart
balena-etcher-electron
Code
dconf
dunst
google-chrome
gtk-3.0
gtk-4.0
htop
kde.org
menus
neofetch
nextjs-nodejs
pulse
qBittorrent
skypeforlinux
systemd
thefuck
Thunar
xfce4
yay
EOS-greeter.conf
EOS-initial-wallpaper.I3
eos-update-notifier.first_init
example.picom.conf
kglobalshortcutsrc
mimeapps.list
pavucontrol.ini
spectaclerc
QtProject.conf
user-dirs.dirs
user-dirs.locale
configstore
gthumb
cef_user_data